@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    color: #027cae;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #005c82;
    font-size: 1.5em;
}

p {
    font-size: 1.3em;
}


a:link, a:visited {
    text-decoration: none;
}

a.white h3, a h3{
    opacity: 0.8;
}

a:hover h3, a:focus h3 {
    opacity: 1;
}

ul, li {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-left: 50px;
    margin-right: 50px;
}

li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

body, html{
    width: 100%;
    height: 100%;
}


.navbar {
    padding: 0;
    opacity: 0;
    background-color: #005c82;
    border: none;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    z-index: 999;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
    opacity: 0.8;
    color: #005c82;
    background-color: #005c82;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #005c82;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
    opacity: 0.8;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.navbar-inverse:hover .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover{
    opacity: 1;
}

.top-nav-collapse {
    opacity: 1;
}

.block-section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background: #fff;
}

.block-section-alt {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background: #027cae;
}

.center-sushi {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.arrow-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #027cae;
}

.arrow-down a {
    width: 100%;
    color: #027cae;
    text-decoration: none;
}

.row {
    text-align: center;
}

.intro {
    height: 100%;
}

.contact {
    color: #027cae;
}

.btn {
    background-color: #027cae;
}

.btn:hover {
    background-color: #005c82;
}

.form-control {
    color: #323232;
}

.img-50x {
    min-height: 50%;
    min-width: 50%;
    height: auto;
    width: auto;
}

.img-10x {
    min-height: 10%;
    min-width: 10%;
    height: auto;
    width: auto;
}

.white {
    color: #fff;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 35px;
}